<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fuhope.ssm.mapper.MSGCodeMapper">

<!-- 添加短信验证码 -->
	<insert id="insertMSGCode" parameterType="com.fuhope.ssm.po.MSGCodeCustom" >
		insert into msgCode(account,code,time,validity,type) value(#{account},#{code},#{time},#{validity},
		#{type})
	</insert>

<!-- 根据account查找短信验证码 -->
	<select id="findCodeByAccount" parameterType="com.fuhope.ssm.po.MSGCodeCustom" resultType="com.fuhope.ssm.po.MSGCodeCustom">
		SELECT msgCode.* FROM msgCode WHERE msgCode.account=#{account} AND msgCode.isUsed=#{isUsed}
	</select>
	
<!-- 根据IsUsed查找短信验证码 -->
	<select id="findCodeByIsUsed" parameterType="java.lang.String" resultType="com.fuhope.ssm.po.MSGCodeCustom">
		SELECT msgCode.* FROM msgCode WHERE msgCode.isUsed=#{value}
	</select>
	
<!-- 根据account更新短信验证码 -->
	<update id="updateCodeByAccount" parameterType="com.fuhope.ssm.po.MSGCodeCustom">
		update msgCode set code=#{code},time=#{time},validity=#{validity},type=#{type},
		isUsed=#{isUsed} where account=#{account}
	</update>

<!-- 获取数据库记录数 -->
	<select id="knowTheMsgCodeCount" resultType="java.lang.Long">
		select count(*) from msgCode;
	</select>

</mapper>